    <div id="backTop" class="returnTop">
       <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

    <footer>
       
      <div id="footer-intro">
        <p>Powered by <a href="http://www.cnblogs.com/xiaxuexiaoab/" target=_blank>jinhaizhou</a> <a href="https://github.com/zhoujinhai" target=_blank>gitHub</a></p>
      </div>

    </footer>

  </body>
</html>