<div class="ui">
	<% if(success){ %>
		<div id="alt_success" class="ui success message alert alert-success">
		    <%= success %>
		</div>
	<% } %>
	<% if(error){ %>
		<div id="alt_warning" class="ui error message alert alert-warning">
		    <%= error %>
		</div>
	<% } %>
</div>
