<form id="nav-search" class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="name">名称</label>
                <input type="text" class="form-control" id="name" placeholder="请输入订阅号名">
                <i class="glyphicon glyphicon-search"></i>
            </div>
            
            <div id="search-results" class="search-results">1</div>
        </form>