<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<a href="/channel/OpNcN46UbXVtpKMrmU4Abg">
				<img class="backimg" src="/images/gameback.jpg" alt="游戏">
			</a>
			<div class="carousel-caption">游戏</div>
		</div>
		<div class="item">
			<a href="/channel/lgRkhTL3_hImCAmdLfDE4g">
				<img class="backimg" src="/images/movieback.jpg" alt="电影">
			</a>
			<div class="carousel-caption">电影</div>
		</div>
		<div class="item">
			<a href="/channel/-9-kyTW8ZkZNDHQJ6FgpwQ">
				<img class="backimg" src="/images/musicback.jpg" alt="音乐">
			</a>
			<div class="carousel-caption">音乐</div>
		</div>
		<div class="item">
			<a href="/channel/YfdidRxbB8Qhf0Nx7ioOYw">
				<img class="backimg" src="/images/newback.jpg" alt="新闻">
			</a>
			<div class="carousel-caption">新闻</div>
		</div>
		<div class="item">
			<a href="/channel/Egdi0XIXXZ-qJOFPf4JSKw">
				<img class="backimg" src="/images/sportback.jpg" alt="体育">
			</a>
			<div class="carousel-caption">体育</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	   data-slide="next">&rsaquo;</a>
</div> 


